@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
   border: 3px solid red;
} */



h1{
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
p{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

.bg-cover{
    background-image:linear-gradient(360deg, #00000099, #0000009c);
}

.hero{
    background-image: linear-gradient(360deg, #39363699, #3a363651), url('/hero.jpg');
    background-position: 100% 20%;
    background-size: cover;
    background-attachment: scroll;
    height: 350px;
    color: white;
    display: grid;
    place-items: center;
    margin-bottom: 70px;
}

input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #d6c2c29d;
    margin-bottom: 20px;
}

select{
    font-size: 1.2em;
    padding: 5px 7px;
    border: none;
    outline: none;
    color: black;
    
}

.search-container{
    position: absolute;
    width: 100%;
    bottom: -95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* loading */

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #f8ae24;
    border-bottom: 16px solid blue;
    width: 90px;
    height: 90px;
    margin: auto;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  /* @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  } */
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loader-2 {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #f8ae24;
    border-bottom: 16px solid blue;
    width: 50px;
    height: 50px;
    margin: auto;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  /* @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  } */
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


