@tailwind base;
@tailwind components;
@tailwind utilities;


.hero{
    background-image: linear-gradient(360deg, #39363699, #39363651), url('/hero.jpg');
    background-position: 100% 20%;
    background-size: cover;
    background-attachment: scroll;
    height: calc(100vh - 80px);
    color: white;
    display: grid;
    place-items: center;
    margin-bottom: 70px;
}
